<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="sorts.js"></script>
</head>




<body ng-app="simpleApp">

<div ng-controller="simpleCtrl">


    <h2><pre>{{first_name}} {{last_name}}</pre></h2>



<form ng-submit="change_first()">
  <input type="text" ng-model="text_input" name="text" />
    <button ng-click="change_first()">change first</button>
</form>

<form ng-submit="change_last()">
  <input type="text" ng-model="text_input2" name="text" />
    <button ng-click="change_last()">change last</button>
</form>

</div>
<br><br>


<div ng-controller="peopleCtrl">

        <table border="1">
            Client-side sorting :
            <tr>
                <td><b><a href="" ng-click="sort5()">↓</a></b>
                    <a href="" ng-click="sort6()">↑</a>
                </td>

                <td><b><a href="" ng-click="sort1()">↓</a></b>
                    <a href="" ng-click="sort3()">↑</a>
                </td>
                <td><b><a href="" ng-click="sort2()">↓</a></b>
                    <a href="" ng-click="sort4()">↑</a>
                </td>

            </tr>
            <tr ng-repeat="person in names | orderBy:sort_type">
                <td>{{person.age}}</td>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>

            </tr>

        </table>



</div>







</body>
</html>